<% include partical/header.ejs %>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="list_user"><h3>List user</h3>
				<ul>
					<li>hello</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
</div>
<% include partical/box_chat.ejs %>
<% include partical/list_friend.ejs %>
<% include partical/footer.ejs %>

