<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .page-header {
            margin: 20px 0px;
        }
    </style>
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
<div class="container">
    <div class="col-sm-6">
        <div class="form-group"><a href="/home">về trang chủ</a></div>
        <form action="/update-profile/<%= user._id %>" method="post">
        <div class="form-group">
            <input type="text" class="form-control" value="<%= user.local.name %>" name="name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" value="<%= user.local.email %>" name="email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" value="<%= user.local.image %>" name="image">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">save</button>
        </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>
